*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.square {
    border: 1px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1em;
}

.board-row {
    display: flex;
}

button:hover {
    cursor: pointer;
}

h1 {
    margin-bottom: 15px;
}

.game {
    display: flex;
    gap: 70px;
}

.game-info {
    margin-top: 20px;
}

.history-list-item button {
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 5px 8px;
    background-color: #242424;
    border-radius: 8px;
    transition-duration: 100ms;
}

.history-list-item button:hover {
    background-color: lightgray;
    color: #242424;
}

.current-move-description {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.2rem;
}